* text=auto !eol
data/charBE.brk -text
data/charLE.brk -text
data/lineBE.brk -text
data/lineLE.brk -text
data/line_thBE.brk -text
data/line_thLE.brk -text
data/sentBE.brk -text
data/sentLE.brk -text
data/thaidict.brk -text
data/unidata/Draft-TestSuite.txt -text svneol=unset#application/octet-stream
data/wordBE.brk -text
data/wordLE.brk -text
data/word_thBE.brk -text
data/word_thLE.brk -text
/license.html svneol=native#text/html
/readme.html svneol=native#text/html
source/samples/translit/U0080.pdf -text
source/samples/ucnv/data01.ut8 -text svneol=unset#application/octet-stream
source/samples/ucnv/data02.bin -text svneol=unset#application/octet-stream
source/test/testdata/en_US.uni -text
source/test/testdata/importtest.bin -text
source/test/testdata/uni-text.txt -text
source/tools/makeconv/gb18030/gb18030.html svneol=native#text/html
*.jar filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
