* text=auto !eol
/APIChangeReport.html svneol=native#text/html
/build.xml svneol=native#text/xml
/license.html svneol=native#text/html
/readme.html svneol=native#text/html
src/com/ibm/icu/dev/data/rbbi/english.dict -text svneol=native#application/octet-stream
src/com/ibm/icu/dev/data/testdata.jar -text svneol=unset#application/java-archive
src/com/ibm/icu/dev/data/thai6.ucs -text
src/com/ibm/icu/dev/demo/calendar/package.html svneol=native#text/html
src/com/ibm/icu/dev/demo/chart/UnicodeChart.css svneol=native#text/css
src/com/ibm/icu/dev/demo/holiday/package.html svneol=native#text/html
src/com/ibm/icu/dev/demo/impl/package.html svneol=native#text/html
src/com/ibm/icu/dev/demo/rbbi/package.html svneol=native#text/html
src/com/ibm/icu/dev/demo/rbnf/package.html svneol=native#text/html
src/com/ibm/icu/dev/demo/translit/Test_Instructions.html svneol=native#text/html
src/com/ibm/icu/dev/demo/translit/demo.html svneol=native#text/html
src/com/ibm/icu/dev/demo/translit/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/calendar/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/charsetdet/CharsetDetectionTests.xml svneol=native#text/xml
src/com/ibm/icu/dev/test/compression/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/normalizer/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Asian.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Chinese.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Japanese.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Japanese_h.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Japanese_k.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Korean.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Latin.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Russian.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_SerbianSH.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_SerbianSR.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Simplified_Chinese.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/perf/data/collation/TestNames_Thai.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/rbbi/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/rbbi/rbbitst.txt -text svneol=unset#application/octet-stream
src/com/ibm/icu/dev/test/search/package.html svneol=native#text/html
src/com/ibm/icu/dev/test/translit/package.html svneol=native#text/html
src/com/ibm/icu/dev/tool/compression/package.html svneol=native#text/html
src/com/ibm/icu/dev/tool/docs/icu4j28.api.gz -text svneol=unset#application/gzip
src/com/ibm/icu/dev/tool/docs/icu4j30.api.gz -text svneol=unset#application/gzip
src/com/ibm/icu/dev/tool/docs/icu4j32.api.gz -text svneol=unset#application/gzip
src/com/ibm/icu/dev/tool/docs/icu4j34.api.gz -text svneol=unset#application/gzip
src/com/ibm/icu/dev/tool/rbbi/readme.html svneol=native#text/html
src/com/ibm/icu/impl/data/icudata.jar -text svneol=unset#application/java-archive
src/com/ibm/icu/impl/data/package.html svneol=native#text/html
src/com/ibm/icu/impl/data/th.brk -text
src/com/ibm/icu/lang/package.html svneol=native#text/html
src/com/ibm/icu/math/package.html svneol=native#text/html
src/com/ibm/icu/text/package.html svneol=native#text/html
src/com/ibm/icu/util/package.html svneol=native#text/html
src/com/ibm/richtext/awtui/package.html svneol=native#text/html
src/com/ibm/richtext/demo/package.html svneol=native#text/html
src/com/ibm/richtext/print/package.html svneol=native#text/html
src/com/ibm/richtext/styledtext/package.html svneol=native#text/html
src/com/ibm/richtext/swingui/package.html svneol=native#text/html
src/com/ibm/richtext/textapps/resources/unicode.arabic.red -text
src/com/ibm/richtext/textapps/resources/unicode.hebrew.red -text
src/com/ibm/richtext/textformat/package.html svneol=native#text/html
src/com/ibm/richtext/textlayout/attributes/package.html svneol=native#text/html
src/com/ibm/richtext/textpanel/package.html svneol=native#text/html
*.jar filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
